@import url('https://fonts.googleapis.com/css2?family=Chivo&family=IBM+Plex+Sans&family=Oswald&family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-height{
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 1024px;
}


.top-main{
    display: flex;
}

.top-brands{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;    
}

.gear{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}